// background
.bg-cover {
    background-size: cover;
    background-position: center center;
}

//底線
.board-bottom-lighter {
    border-bottom: 1px solid $primary-200;
}

//超過 mdup 才有用
.board-bottom-mdup-lighter {
    @include media-breakpoint-down(md) {
        border-bottom: 1px solid $primary-200;
    }
}

.board-bottom-md-lighter {
    @include media-breakpoint-up(md) {
        border-bottom: 1px solid $primary-200;
    }
}

.board-bottom-lighter {
    border-bottom: 1px solid $primary-200;
}

.board-primary-lighter {
    border: 1px solid $primary-200;
}

//字體垂直排序
.writing-vertical {
    writing-mode: vertical-rl;
}

.writing-md-vertical {
    @include media-breakpoint-up(md) {
        writing-mode: vertical-rl;
    }
}

//限高
//背景
.bg-primary-lighter {
    background-color: $primary-200;
}

.bg-md-primary {
    @include media-breakpoint-up(md) {
        background-color: $primary;
    }
}

.text-primary-lighter {
    color: $primary-200;
}

.text-primary-md-lighter {
    @include media-breakpoint-up(md) {
        color: $primary-200 !important;
    }
}

.text-primary-light {
    color: $primary-500;
}

.minus-md-margin {
    @include media-breakpoint-up(md) {
        margin-top: -20px;
        margin-bottom: -20px;
    }
}

//按鈕
.btn-primary-lighter {
    @include button-variant($primary-200, darken($primary-200, 10%));
    color: $primary;
    font-size: 24px;
    font-weight: bold;
}

.btn-brand-light {
    @include button-variant(white, darken(white, 10%));
}