// background
.bg-cover {
    background-size: cover;
    background-position: center center;
}

//字體垂直排序
.writing-vertical {
    writing-mode: vertical-rl;
}

.writing-md-vertical {
    @include media-breakpoint-up(md) {
        writing-mode: vertical-rl;
    }
}

//限高
//背景
.bg-primary-lighter {
    background-color: $primary-200;
}

.text-primary-lighter {
    color: $primary-200;
}

.text-primary-light {
    color: $primary-500;
}

.minus-md-margin {
    @include media-breakpoint-up(md) {
        margin-top: -20px;
        margin-bottom: -20px;
    }
}

//按鈕
.btn-primary-lighter {
    @include button-variant($primary-200, darken($primary-200, 10%));
    color: $primary;
    font-size: 24px;
    font-weight: bold;
}